bcrypt==3.1.1
beautifulsoup4==4.5.0
bs4==0.0.1
cffi==1.8.3
Django==1.10.2
django-allauth==0.28.0
django-extensions==1.7.4
extensions==0.4
lxml==3.6.1


oauthlib==2.0.0
pycparser==2.16

pygame==1.9.2b6
pyglet==1.2.4
pyparsing==2.1.10
python-openid==2.2.5
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
vboxapi==1.0
virtualenv==15.0.3
